## _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
## ManualGen: case of manual structure for e.g. GenerationGap
## _/_/_/_/_/_/_/_/_/_/
#foreach ($table in $request.tableList)
  #set ($path = "${request.generateDirPath}bsentity/Bs${table.camelizedName}.java")
  $manager.makeDirectory($path)
  $manager.info("parse('${path}')")
  $generator.parse("./basic/table/BsTableBean.vm", $path, "", "")

  #set ($path = "${request.generateDirPath}exentity/${table.camelizedName}.java")
  $manager.makeDirectory($path)
  $manager.info("parse('${path}')")
  #if (!$files.file(${generator.outputPath},$path).exists())
    $generator.parse("./basic/table/ExTableBean.vm", $path, "", "")
  #end
#end
