$manager.info("requestList: ${requestList.size()}")

## /- - - - - - - - - - - - - - - - - - - - - - - - - -
## generate as basic way
## it can be handled by suffix of FreeGen request name
##  e.g.
##   ; SeaBasicSingleGen = map:{
##   ; LandBasicMultipleGen = map:{
## - - - - - - - - - -/
#parse("./basic/ControlFreeGenBasicSingle.vm")
#parse("./basic/ControlFreeGenBasicMultiple.vm")

## generate as custom way (of standard pattern)
#parse("./custom/ControlFreeGenCustom.vm")

## generate LastaFlute classes/resourcees
#parse("./lasta/ControlFreeGenLasta.vm")

## generate Solr classes/resourcees
#parse("./solr/ControlFreeGenSolr.vm")
