
$manager.info("requestList: ${requestList.size()}")

#foreach ($request in $requestList)
  #set ($optionMap = $request.optionMap)
  $request.enableOutputDirectory()
  $manager.makeDirectory($request.generateDirPath)

  ## customization point: if, else-if
  #if ($request.requestName == "MultipleTableManualGen")
    #parse("./basic/ControlFreeGenManual.vm")
  #elseif ($request.isResourceTypeSolr())
    #parse("./solr/ControlFreeGenSolr.vm")
  #else
    ##
    ## basically here
    ##
    #parse("./basic/ControlFreeGenBasic.vm")
  #end
#end
